<component name="ArtifactManager">
  <artifact type="war" name="springMvc02:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMvc02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMvc02.war">
      <element id="artifact" artifact-name="springMvc02:war exploded" />
    </root>
  </artifact>
</component>